*{
	margin: 0;
	padding: 0;
}
body{
    font-family: Verdana;
}
.header{
	height: 58px;
	background: rgb(238, 238, 238);
}
.shell{
    margin: 0 auto;
	width: 960px;
}
.logo{
    float: left;
}
.nav{
	float: right; 
	padding-top: 8px;
}
.nav ul{ 
	list-style: none; 
	font-size: 14px; 
	text-transform: capitalize; 
	font-weight: bold;
}
.nav ul li{ 
	display: inline-block; 
	padding: 0 0 0 48px; 
}
.nav ul li a:link{
	color: #77777b;
    text-decoration:none;
 }
.nav ul li a:hover ,.nav ul li.active a { 
	color: #2497e0; 
	text-decoration: none; 
}
.content{
    margin: 100px 200px;
}
.tig1{
	clear: left;
}
.tig2{
    float: left;
}
.tig3{
   display: block;
}
.trr{
	margin-bottom: 50px;
	clear: left;
	color: #33CCFF;
}
.lio1{
	clear: left;
}
.lio2{
    float: left;
}
.lio3{
   display: block;
}
.lvv{
   margin-bottom: 50px;
   clear: left;
   color: #33CCFF;
}
.jag1{
	clear: left;
}
.jag2{
    float: left;
}
.jag3{
   display: block;
}
.jarr{
   margin-bottom: 50px;
   clear: left;
   color: #33CCFF;
}
.tigimg{
	float:left;
	display: block;
}
.lioimg{
	float:left;
	display: block;
}
.jagimg{
    float:left;
	display: block;
}
.footer{
   height: 58px;
 }
.myc{
   text-align: center;
}