/*                          css reset                        */
* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 16px;
    font-family: arial, sans-serif;
    color: #808080;
    min-width: 950px;
}

a {
	color: #65cbf8;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: 0;
}

/*                          site                            */
.page{
	min-height: 100%;
    position: relative;
	padding-bottom: 60px;
}

h1, h2, h3, h4{
	font-family: Georgia;
}
h1{
	margin-bottom: 10px;
	font-size: 35px;
	line-height: initial;
}
h2{
	margin-bottom: 10px;
	margin-top: 30px;
	font-size: 26px;
	line-height: initial;
}
p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
}
.main_container{
	margin: 0 auto;
	width: 950px; 
}
.main_container:after{
	content: "";
	display: block;
	clear: both;
}	
/*                          header                          */
.header { 
	background: rgb(238, 238, 238);
	padding: 30px 0;
}

#logo{ 
	width: 171px; 
	height: 28px;
	float: left; 
	display: block;
	background: url(../images/logo.png) no-repeat 0 0;
}
.navigation{ 
	float: right; 
	padding-top: 8px;  
	list-style: none; 
	font-size: 11px; 
	text-transform: capitalize; 
	font-weight: bold; 
}

.navigation_link{ 
	display: inline-block; 
	vertical-align: top;
	padding: 0 0 0 44px; 
	color: #77777b; 
}
 
.navigation_link:hover ,.navigation_linka { 
	color: #2497e0; 
	text-decoration: none; 
}

/*                          main                          */
.posts{
	margin: 0 auto;
	width: 950px; 
	margin-top: 40px;
}
.post{
	margin-bottom: 10px;
}
.post:after{
	content: "";
	display: block;
	clear: both;
}

/*                          left column                   */
.left_column{
	width: 250px;
	float: left;
}
.news_descr a{
color: #77777b; 
}
.news_descr a:hover ,.navigation_link_active { 
	color: #2497e0; 
	text-decoration: none;
} 
/*                          right column                   */
.right_column{
	width: 650px;
	float: right;
	margin-left: 40px;
	color: rgb(47, 47, 47);
}
/*                          footer                         */
.footer{
	line-height: 60px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	min-width: 100%;
}



