/*                          css reset                        */
* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 16px;
    font-family: arial, sans-serif;
    color: #808080;
    min-width: 950px;
}

a { color: #65cbf8; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

/*                          site                            */

h1, h2, h3, h4{
	font-family: Georgia;
}
h1{
	margin-bottom: 10px;
	font-size: 40px;
	line-height: initial;
}
h2{
	margin-bottom: 10px;
	font-size: 26px;
}
p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
}
/*                          header                          */
.shell{
	margin: 0 auto;
	width: 950px; 
}

.header { 
	background: rgb(238, 238, 238);
	height: 58px; 
	padding: 29px 0 0 0;
}

.clear {
clear: both;
}

#logo{ 
	width: 171px; float: left; 
}
#logo a{ 
	height: 28px;
	display: block;
	background: url(../images/logo.png) no-repeat 0 0;
}
#navigation{ 
	float: right; 
	padding-top: 8px;  
}
#navigation ul{ 
	list-style: none; 
	font-size: 11px; 
	text-transform: capitalize; 
	font-weight: bold; 
}
#navigation ul li{ 
	display: inline-block; 
	padding: 0 0 0 44px; 
}
#navigation ul li a{
	color: #77777b; 
 }
#navigation ul li a:hover ,#navigation ul li.active a { 
	color: #2497e0; 
	text-decoration: none; 
}
/*                          main                          */
main{
	margin: 0 auto;
	width: 950px; 
	padding-top: 40px;
}
.article {
	margin-bottom: 30px;
	height: auto;
	}
	
.text {

}

.foto_news {
	float:left;
	padding: 10px;
	}
	
.p_news {
	line-height: 20px;
	text-align: justify;
}

 .header_news {
	float: left;
	text-align: left;
	line-height: 20px;
}

.content_post {

}


/*                          footer                         */
.footer{	
	min-width: 100px;
	padding: 15px;
	background-color: #eeeeee;
	font-size: 15px;
	}
	
.footer .copyright {
color: #000;
text-align: center;
}

