.header {
	height: 58px;
	background: rgb(238, 238,238);
}
#logo_link{
	display: block;
	background: url(logo.png) no-repeat 0 0;
}
.nav{ 
	float: right; 
	padding-top: 8px;  
}
.nav ul{ 
	list-style: none; 
	font-size: 11px; 
	text-transform: capitalize; 
	font-weight: bold; 
}
.nav ul li{ 
	display: inline-block; 
	padding: 0 0 0 44px; 
}
.nav ul li a{
	color: #77777b; 
 }
.nav ul li a:hover , .nav ul li.active a { 
	color: #2497e0; 
	text-decoration: none; 
}
.container{
	margin: 0 auto;
	width: 960px;
}
.clearfix{
	clear:  both;
	height: 1px;
}
.text{
	float: right;
}
.cat{
	float: left;
}
p2{
color: blue;
font-size: 15px;
}
